node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock
bun.lock
bun.lockb

.turbo/
.svelte-kit/
build/
dist/
.vercel/
package/

**/src-tauri/target/
**/src-tauri/gen/

.DS_Store
.env
.env.*
!.env.example
static/